# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.nuxt/
.output/
dist/

# Database
*.db
*.sqlite

# Logs
*.log

# HubSpot config file
hubspot.config.yml

# Firebase JSON file
churn-risk-firebase-adminsdk-fbsvc-7988ab635b.json